@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background-image:url('../../carImages/bmw_headlights_lights_137326_1920x1080.jpg');
            background-size:cover;
       
        }

    </style>
}

<h1 style="text-align:center"><span style="color:blanchedalmond;font-family:'Berlin Sans FB'"><u>Car</u></span><span><strong style="color:white;"> Service</strong></span><span><strong style="color:white;"> Hub</strong></span></h1>
@*<h1 style="text-align:center; background-color:transparent;"><img src="~/backgroundImages/images.png" style="height:200px;width:300px;"/> </h1>*@

<br />
<br />



